
<h1 class="mt-5"> {{ course.title }} </h1>
<h2> {{ course.category }}</h2>


<!-- <span><a href="/{{beta.id}}" style="text-decoration: none;" ><button class="btn btn-primary">На главную</button></a></span>-->
<div style="float:left; margin-right: 2%">
                 <img src={{ course.thumbnail_bottom.url }}  width="200" height="200"
                             class="rounded-square profile-photo" style="background-size: 100%, 100%, 100%, 100%;"/>

    <p> {{ course.descp }} </p>
<p> {{ course.descp_full }} </p>
            </div>

